node_modules

# Output
dist
.*
!.zed
!public/.assetsignore

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Astro / Deno Deploy build artifacts
.astro/
_fresh/
